{% extends "fesbbook_app/base.html" %}

{% block additional_styles %}
<style>
    #contact-list {
        list-style-type : none;
        padding: 0;
        margin: 0;
    }
    #contact-list li {
        margin-top: 20px;
        font-size: 20px
    }
    #contact-list .fas, #contact-list .fab {
        width: 30px!important;
    }
</style>
{% endblock additional_styles %}

{% block title %} Kontakt {% endblock title %}

{% block content %}
<h1>Kontakt</h1>
<ul id="contact-list">
    <li><i class="fas fa-home"></i>xxxxxxx, 21 000 Split</li>
    <li><i class="fas fa-at"></i>xxxxxxx@fesb.hr</li>
    <li><i class="fas fa-mobile-alt"></i>09x/xxxxxxx</li>
    <li><i class="fas fa-phone"></i>021/xxx-xxx</li>
    <li><i class="fab fa-facebook-square"></i>Facebook</li>
    <li><i class="fab fa-facebook-messenger"></i>Facebook Messenger</li>
    <li><i class="fab fa-instagram"></i>Instagram</li>
    <li><i class="fab fa-twitter"></i>Twitter</li>
    <li><i class="fab fa-youtube"></i>YouTube</li>
</ul>
{% endblock content %}