{% extends "fesbbook_app/base.html"%} 

{% block title %}Razgovor sa {{title}}{% endblock title %}

{% block additional_styles %}
<style>
  .container-md {
    min-height: 90vh;
  }
  footer {
    background-color: #dfeeff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: solid grey;
  }
  #message_form {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
  }
  #message_text {
    flex: 1;
    resize: none;
    border: solid grey;
  }
  #message_button,
  #send_button,
  #file_button {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 50%;
    padding: 0;
    height: 50px;
    width: 50px;
  }
  .isActive {
    position: absolute;
    left: 110px;
    top: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
  }
  #senderImage, #receiverImage {
    float: left;
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover;
  }
  #messagesList {
    margin-bottom: 50px;
  }
  #senderImage {
    border: 5px solid #6c757d;
  }
  #receiverImage {
    border: 5px solid #007bff;
  }
  #fileList {
    color: white;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  #messageFile {
    font-style: italic;
  }
  #messageFile:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  #removeFileButton:hover {
    color: red;
  }
  #removeFileButton {
    margin-left: 20px;
  }
</style>

{% endblock additional_styles %} 

{% block content %}
<input type="hidden" value="{{request.session.loggedInUser}}" id="loggedInUser">
<br>
{% if allMessages|length == 0 %}
<div id="noMessages">
Trenutno nemate poruka s korisnikom <b>{{title}}</b>. Pošaljite poruku!
</div>
{% endif %}
<div id="messagesList">
  {% for message in allMessages %}
  {% if message.sender.username == request.session.loggedInUser %}
  <div class="card flex-row flex-wrap bg-primary">
    <div class="card-header border-0">
      <img src="../{{message.sender.profile_image}}" alt="Profile image" id="senderImage">
    </div>
    <div class="card-block px-2">
      <h4 class="card-title">{{message.sender.username}}</h4>
      <p class="card-text">{{message.message}}</p>
      {% if message.message_file %}
      <p class="card-text" onclick="openFile('../{{message.message_file}}')" id="messageFile"><i class="{{message.message_file_icon}}"></i>&nbsp;&nbsp;{{message.message_file_name}}</p>
      {% endif %}
    </div>
    <div class="card-footer w-100">
      {{message.date_sent|date:"j. n. Y. G:i"}}
    </div>
  </div>
  <br>
  {% else %}
  <div class="card flex-row flex-wrap bg-secondary">
    <div class="card-header border-0">
      <img src="../{{message.sender.profile_image}}" alt="Profile image" id="receiverImage">
      {% if message.sender.isActive %}
      <div class="isActive bg-success"></div>
      {% endif %}
    </div>
    <div class="card-block px-2">
      <h4 class="card-title">{{message.sender.username}}</h4>
      <p class="card-text">{{message.message}}</p>
      {% if message.message_file %}
      <p class="card-text" onclick="openFile('../{{message.message_file}}')" id="messageFile"><i class="{{message.message_file_icon}}"></i>&nbsp;&nbsp;{{message.message_file_name}}</p>
      {% endif %}
    </div>
    <div class="card-footer w-100">
      {{message.date_sent|date:"j. n. Y. G:i"}}<br/>
    </div>
  </div>
  <br>
  {% endif %}
  {% endfor %}
</div>
{% endblock content %}

{% block footer %}

<div id="fileList"></div>
<form
  id="form"
  action=""
  method="POST"
  enctype="multipart/form-data"
  autocomplete="off"
  contenteditable="true"
  aria-multiline="true"
  onreset="document.getElementById('send_button').disabled=true"
>
  {% csrf_token %}

  <div id="message_form">
    <textarea
      class="bg-dark text-white"
      rows="3"
      id="message_text"
      name="message_text"
      placeholder="Napišite poruku..."
      spellcheck="true"
      onkeyup="clean()"
      onkeydown="clean()"
      maxlength="500"
    ></textarea>
    <input type="submit" class="btn btn-success btn-lg far fa-paper-plane" value="&#xf1d8" id="send_button" title="Pošalji poruku" disabled>
    <div class="upload">
      <input type="file" id="fileUpload" name="fileUpload" hidden/>
      <label for="fileUpload" class="btn btn-secondary btn-lg fas fa-paperclip" title="Priloži dokument" id="file_button" style="margin-top: 15.4px; padding-top:15px;">
      </label>
    </div>
    <input
      type="reset"
      class="btn btn-danger btn-lg fas fa-trash-alt"
      value="&#xf2ed"
      title="Izbriši poruku"
      id="message_button"
    >
  </div>
</form>
{% endblock footer %}

{% block script %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"
  integrity="sha512-B4skI5FiLurS86aioJx9VfozI1wjqrn6aTdJH+YQUmCZum/ZibPBTX55k5d9XM6EsKePDInkLVrN7vPmJxc1qA=="
  crossorigin="anonymous"
></script>
<script type="text/javascript">
  clean = () => {
    inputValue = document.getElementById("message_text").value
    inputFile = document.getElementById("fileUpload").files.length;
    inputValue= inputValue.replace(/\s/g,'')
    if (inputValue == "" && inputFile == 0) {
      document.getElementById("send_button").disabled = true;
    } else {
      document.getElementById("send_button").disabled = false;
    }
  };

  // websockets

  var loc = window.location;

  var wsStart = "";

  loc.protocol == "https:" ? (wsStart = "wss://") : (wsStart = "ws://");

  var endpoint = wsStart + loc.host + loc.pathname;

  var socket = new ReconnectingWebSocket(endpoint);

  socket.onmessage = function (e) {
    console.log("message", e);
    messageData = JSON.parse(e.data);
    if (messageData.sender.username == document.getElementById("loggedInUser").value)
    {
      var innerHTMLData = "<div class='card flex-row flex-wrap bg-primary'><div class='card-header border-0'> <img src='../"+
        messageData.sender.profile_image + "' alt='Profile image' id='senderImage'></div><div class='card-block px-2'><h4 class='card-title'>" +
        messageData.sender.username + "</h4><p class='card-text'>" +
        messageData.message_text + "</p>"
        
      if(messageData.file_url)
      {
        var fileInnerHTML = document.createElement("p")
        fileInnerHTML.className = "card-text"
        fileInnerHTML.setAttribute("onclick", "openFile('../" + messageData.file_url +"')");
        fileInnerHTML.id = "messageFile"
        fileInnerHTML.innerHTML = "<i class='" + messageData.file_icon + "'></i>&nbsp;&nbsp;" + messageData.file_name
        innerHTMLData += fileInnerHTML.outerHTML
      }

      innerHTMLData += "</div><div class='card-footer w-100'>"+
        messageData.date_sent + "</div></div><br>" + document.getElementById("messagesList").innerHTML;
      document.getElementById("messagesList").innerHTML = innerHTMLData
      clean();
    }
    else
    {
      innerData = "<div class='card flex-row flex-wrap bg-secondary'><div class='card-header border-0'> <img src='../"+
        messageData.sender.profile_image + "' alt='Profile image' id='receiverImage'>"

      if (messageData.sender.isActive)
      {
        innerData += "<div class='isActive bg-success'></div>"
      }
      console.log(messageData.file_url)
      innerData = innerData + "</div><div class='card-block px-2'><h4 class='card-title'>" +
        messageData.sender.username + "</h4><p class='card-text'>" +
        messageData.message_text + "</p>" 

      if(messageData.file_url)
      {
        var fileInnerHTML = document.createElement("p")
        fileInnerHTML.className = "card-text"
        fileInnerHTML.setAttribute("onclick", "openFile('../" + messageData.file_url +"')");
        fileInnerHTML.id = "messageFile"
        fileInnerHTML.innerHTML = "<i class='" + messageData.file_icon + "'></i>&nbsp;&nbsp;" + messageData.file_name
        innerData += fileInnerHTML.outerHTML
      }

      innerData += "</div><div class='card-footer w-100'>"+
        messageData.date_sent + "</div></div><br>" + document.getElementById("messagesList").innerHTML;

      document.getElementById("messagesList").innerHTML = innerData
    }
    if(document.getElementById("noMessages") != null)
    {
      document.getElementById("noMessages").style.display = "none"
    }
  };
  socket.onopen = function (e) {
    console.log("open", e);
    formData = document.getElementById("form");
    formData.onsubmit = (event) => {
      event.preventDefault();
      var msgText = document.getElementById("message_text").value;
      
      if(document.getElementById("fileUpload").value !== "")
      {
        var inputField = document.getElementById("fileUpload").files[0]
        var fileData = new Blob([inputField])
        var reader = new FileReader();
        reader.readAsArrayBuffer(fileData);
        reader.onload = function(){
        var arrayBuffer = reader.result
        var bytes = new Uint8Array(arrayBuffer);

          var finalData = {
            messageText: msgText,
            inputFile: bytes,
            fileName: inputField.name,
            fileIcon: getFileIcon(inputField.name) 
          };
          socket.send(JSON.stringify(finalData));
          formData.reset();
          if(document.getElementById("noMessages"))
          {
            document.getElementById("noMessages").style.display = "none"
          }
        };
      }
      else {
        var finalData = {
          messageText: msgText
        };
        socket.send(JSON.stringify(finalData));
        formData.reset();
        if(document.getElementById("noMessages"))
        {
          document.getElementById("noMessages").style.display = "none"
        }
      }
    }
  };
  socket.onerror = function (e) {
    console.log("error", e);
  };
  socket.onclose = function (e) {
    console.log("close", e);
  };

  //file upload
  window.onload=()=>{
    document.getElementById("fileUpload").addEventListener("change", () => {
      clean()
      if(document.getElementById("fileUpload").files[0])
      {
        inputFile = document.getElementById("fileUpload").files[0].name
        
        document.getElementById("fileList").innerHTML = "<i class='" + getFileIcon(inputFile) + "'><i/>&nbsp;&nbsp;" + inputFile +"<i class='fas fa-times-circle' title='Ukloni datoteku' id='removeFileButton'></i>"

        document.getElementById("removeFileButton").addEventListener("click", () => {
          document.getElementById("fileList").innerHTML = ""
          document.getElementById("fileUpload").value = ""
          clean()
        })
      }
      else
      {
        document.getElementById("fileList").innerHTML = ""
      }
    })

    document.getElementById("form").addEventListener("reset", () =>{
      document.getElementById("fileList").innerHTML = ""
    })

  }

  function getFileIcon(fileName){
    var fileExtension = fileName.split(".").pop()
    if(fileExtension == "pdf")
    {
      return "fas fa-file-pdf"
    }
    else if(fileExtension == "doc" || fileExtension == "dot" || fileExtension == "wbk" || fileExtension == "docx" || fileExtension == "docm" || fileExtension == "dotx" || fileExtension == "dotm" || fileExtension == "docb")
    {
      return "fas fa-file-word"
    }
    else if(fileExtension == "xls" || fileExtension == "xlt" || fileExtension == "xlm" || fileExtension == "xlsx" || fileExtension == "xlsm" || fileExtension == "xltx" || fileExtension == "xltm" || fileExtension == "xlsb" || fileExtension == "xla" || fileExtension == "xlam" || fileExtension == "xll" || fileExtension == "xlw")
    {
      return "fas fa-file-excel"
    }
    else if(fileExtension == "ppt" || fileExtension == "pot" || fileExtension == "pps" || fileExtension == "pptx" || fileExtension == "pptm" || fileExtension == "potx" || fileExtension == "potm" || fileExtension == "ppam" || fileExtension == "ppsx" || fileExtension == "ppsm" || fileExtension == "sldx" || fileExtension == "sldm")
    {
      return "fas fa-file-powerpoint"
    }
    else if(fileExtension == "jpg" || fileExtension == "jpeg" || fileExtension == "png" || fileExtension == "gif" || fileExtension == "tiff")
    {
      return "fas fa-file-image"
    }
    else if(fileExtension == "csv")
    {
      return "fas fa-file-csv"
    }
    else if(fileExtension == "zip" || fileExtension == "zipx" || fileExtension == "rar")
    {
      return "fas fa-file-archive"
    }
    else if(fileExtension == "m4a" || fileExtension == "flac" || fileExtension == "mp3" || fileExtension == "wav" || fileExtension == "wma" || fileExtension == "aac")
    {
      return "fas fa-file-audio"
    }
    else if(fileExtension == "mp4" || fileExtension == "mov" || fileExtension == "wmv" || fileExtension == "flv" || fileExtension == "avi" || fileExtension == "mkv")
    {
      return "fas fa-file-video"
    }
    else 
    {
      return "fas fa-file"
    }
  }

  function openFile(fullFilePath) {
    window.open(fullFilePath, "_blank");
  }

  
</script>
{% endblock script %}
