{% extends "fesbbook_app/base.html" %} 

{% load crispy_forms_tags %}
{% load static %}

{% block additional_styles %}
<style>
  #image_label {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  #image_label > img {
    transition: 0.5s ease;
    opacity: 1;
    float: left;
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #007bff;
    object-fit: cover;
  }
  #image_label:hover img {
    transition: 0.5s ease;
    opacity: 0.3;
  }
  #image_label:hover .editText {
    transition: 0.5s ease;
    background-color: rgba(0, 123, 255, 1);
  }
  #profile_image_input {
    display: none;
  }
  .fa-pen {
    position: absolute;
    right: 5px;
    bottom: 7px;
    font-size: 30px;
    color: #007bff;
  }
  #editText {
    transition: 0.5s ease;
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 50%;
    line-height: 200px;
    background-color: rgba(0, 123, 255, 0.5);
  }
  #editText:hover {
    transition: 0.5s ease;
    opacity: 1;
  }
  .custom-control {
    margin: auto;
    margin-bottom: 30px;
  }
  #imageRemove {
    margin: auto;
    margin-bottom: 30px;
  }
</style>
{% endblock additional_styles %}

{% block title %}Registracija{% endblock title%} 

{% block content %}
<h1>Registracija</h1>
<br />
<form
  id="form"
  action=""
  method="POST"
  enctype="multipart/form-data"
  autocomplete="off"
>
  {% csrf_token %}
  <div class="row">
    <input
      id="profile_image_input"
      type="file"
      name="profile_image"
      onchange="readURL(this);"
      accept="image/*"
    />
    <label for="profile_image_input" id="image_label">
      <img
        id="show_profile_image"
        src="profile_images/default_profile_image.png"
        alt="your image"
      />
      <div class="editText" id="editText">
        <div class="text" id="text">Uredi sliku</div>
      </div>
      <div class="icon"><i class="fa fa-pen" aria-hidden="true"></i></div>
    </label>
  </div>
  <div class="row">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1">Prikaži profilnu sliku</label>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-primary btn-sm" id="imageRemove">
      <i class="far fa-trash-alt"></i>
      Ukloni sliku
    </button>
  </div>
  <div class="row">
    <div class="col-md-12">{{form.first_name|as_crispy_field}}</div>
  </div>
  <div class="row">
    <div class="col-md-12">{{form.last_name|as_crispy_field}}</div>
  </div>
  <div class="row">
    <div class="col-md-12">{{form.username|as_crispy_field}}</div>
  </div>
  <div class="row">
    <div class="col-md-12">{{form.password|as_crispy_field}}</div>
  </div>
  <div class="row">
    <div class="col-md-12">{{form.password_confirm|as_crispy_field}}</div>
  </div>
  <div class="row">
    <div class="col-md-12">{{form.email|as_crispy_field}}</div>
  </div>
  <div class="row">
    <div class="col-md-12">{{form.study|as_crispy_field}}</div>
  </div>
  <div class="row">
    <div class="col-md-4">{{form.year_of_enrollment|as_crispy_field}}</div>
    <div class="col-md-4">{{form.birthday|as_crispy_field}}</div>
    <div class="col-md-4">{{form.gender|as_crispy_field}}</div>
  </div>
  <div class="row">
    <div class="col-md-12" style="margin-top: 30px">
      <button type="submit" class="btn btn-success btn-block btn-lg">
        <i class="fas fa-database"></i>
        Registracija
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" style="margin-top: 20px">
      <a href="{% url 'index' %}" class="btn btn-secondary btn-block btn-lg">
        <i class="far fa-hand-point-left"></i>
        Povratak na početnu stranicu
      </a>
    </div>
    <div class="col-md-6" style="margin-top: 20px">
      <button type="reset" class="btn btn-danger btn-block btn-lg">
        <i class="far fa-trash-alt"></i>
        Brisanje unesnih podataka
      </button>
    </div>
  </div>
</form>
{% endblock content %}

{% block script %}
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $("#show_profile_image").attr("src", e.target.result);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  document.getElementById("customSwitch1").onclick = () => {
    switchBox = document.getElementById("customSwitch1")
    result = switchBox.checked
    if (result)
    {
      document.getElementById("editText").style.opacity = "0"
      document.getElementById("text").style.display = "none"
    }
    else
    {
      document.getElementById("editText").style.opacity = "1"
      document.getElementById("text").style.display = "block"
    }
    
  }

  document.getElementById("imageRemove").onclick = () =>
  {
    document.getElementById("show_profile_image").src = "profile_images/default_profile_image.png"
    document.getElementById("profile_image_input").value = ""
  }
</script>
{% endblock script %}
