<div
  class="modal fade"
  id="deleteProfileModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteProfile"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Brisanje profila</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">Jeste li sigurni da se želite obrisati svoj profil?<br><br>Nakon ove radnje više ne ćete imati pristup profilu!</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="deleteProfileConfirmButton">
          Da
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Ne
        </button>
      </div>
    </div>
  </div>
</div>
