{% for pathItem in pathinfo %} 
{% if pathItem.path == active %}
<a
  class="nav-item d-lg-flex align-items-center nav-link active"
  href="{{pathItem.path}}"
  ><i class="{{pathItem.icon}}"></i>&nbsp;{{pathItem.text}}
</a>
{% else %}
<a
  class="nav-item d-lg-flex align-items-center nav-link"
  href="{{pathItem.path}}"
  ><i class="{{pathItem.icon}}"></i>&nbsp;{{pathItem.text}}
</a>
{% endif %} 
{% endfor %}
{% if request.session.loggedInUser == None %}
<button
  type="button"
  class="nav-link btn btn-danger btn-md nav-item d-lg-flex align-items-center"
  onclick="location.href='login'"
>
  <i class="fas fa-sign-in-alt"></i>&nbsp;
  Prijava
</button>
{% else %}
<li class="nav-item dropdown">
  {% if active == "../myProfile" %}
  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
    <img src="{{profile_image}}" id="navbarProfileImage">{{request.session.loggedInUser}}
  </a>
  {% else %}
  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="{{profile_image}}" id="navbarProfileImage">{{request.session.loggedInUser}}
  </a>
  {% endif %}
  <div class="dropdown-menu dropdown-menu-dark bg-dark" aria-labelledby="navbarDarkDropdownMenuLink">
    {% if active == "../myProfile" %}
    <a class="dropdown-item" href="../myProfile" style="color: white;"><i class="fas fa-user"></i>&nbsp;Moj profil</a>
    {% else %}
    <a class="dropdown-item" href="../myProfile"><i class="fas fa-user"></i>&nbsp;Moj profil</a>
    {% endif %}
    <a class="dropdown-item" id="login-button" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-sign-out-alt"></i>&nbsp;Odjava</a>
  </div>
</li>

{% endif %}