{% extends "fesbchatbot_app/base.html" %}
{% load crispy_forms_tags %}

{% block title %} Prijava {% endblock title %}

{% block content %}
<h1 style="margin-bottom:40px">Prijava</h1>
<form
  id="form"
  action=""
  method="POST"
  enctype="multipart/form-data"
  autocomplete="off"
>
{% csrf_token %}
<div class="row">
    <div class="col-md-12">{{form.username|as_crispy_field}}</div>
</div>
<div class="row">
    <div class="col-md-12">{{form.password|as_crispy_field}}</div>
</div>
<div class="row">
    <div class="col-md-12" style="margin-top: 30px">
      <button type="submit" class="btn btn-success btn-block btn-lg">
        <i class="fas fa-sign-in-alt"></i>
        Prijava
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" style="margin-top: 20px">
      <a href="{% url 'index' %}" class="btn btn-secondary btn-block btn-lg">
        <i class="far fa-hand-point-left"></i>
        Povratak na početnu stranicu
      </a>
    </div>
    <div class="col-md-6" style="margin-top: 20px">
      <button type="reset" class="btn btn-danger btn-block btn-lg">
        <i class="far fa-trash-alt"></i>
        Brisanje unesnih podataka
      </button>
    </div>
  </div>
</form>
{% endblock content %}
