{% extends "fesbchatbot_app/base.html" %} 

{% block additional_styles %}
<style>
  #label {
    font-style: italic;
    margin-top: 25px;
  }
  #profile_image_display > img {
    float: left;
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #007bff;
    object-fit: cover;
  }
  #profile_image_display {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  #username_display {
    text-align: center;
  }
</style>
{% endblock additional_styles %}

{% block title %}{{studentInfo.username}}{% endblock title %} 

{% block content %}
<div class="row">
  <div id="profile_image_display">
    <img
      id="show_profile_image"
      src="{{studentInfo.profile_image}}"
      alt="your image"
    />
    <h1 id="username_display">{{studentInfo.username}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12" style="margin-top: 30px">
    <a href="{% url 'editProfile' %}" class="btn btn-success btn-block btn-lg">
      <i class="fas fa-user-edit"></i>
      Uredi profil
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="margin-top: 20px">
    <a
      href="{% url 'newPassword' %}"
      class="btn btn-secondary btn-block btn-lg"
    >
      <i class="far fa-edit"></i>
      Promjena lozinke
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="margin-top: 20px">
    <a href="{% url 'index' %}" class="btn btn-danger btn-block btn-lg" data-toggle="modal" data-target="#deleteProfileModal">
      <i class="fas fa-user-minus"></i>
      Brisanje profila
    </a>
  </div>
</div>
<div class="row" id="label">
  <div class="col-md-6">Ime</div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4>{{studentInfo.first_name}}</h4>
  </div>
</div>

<div class="row" id="label">
  <div class="col-md-6">Prezime</div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4>{{studentInfo.last_name}}</h4>
  </div>
</div>

<div class="row" id="label"><div class="col-md-6">E-mail</div></div>
<div class="row">
  <div class="col-md-6">
    <h4>{{studentInfo.email}}</h4>
  </div>
</div>

<div class="row" id="label"><div class="col-md-6">Studij</div></div>
<div class="row">
  <div class="col-md-6">
    <h4>{{studentInfo.study}}</h4>
  </div>
</div>

<div class="row" id="label"><div class="col-md-6">Godina upisa</div></div>
<div class="row">
  <div class="col-md-6">
    <h4>{{studentInfo.year_of_enrollment}}</h4>
  </div>
</div>

<div class="row" id="label"><div class="col-md-6">Datum rođenja</div></div>
<div class="row">
  <div class="col-md-6">
    <h4>{{studentInfo.birthday|date:"j. n. Y." }}</h4>
  </div>
</div>

<div class="row" id="label"><div class="col-md-6">Spol</div></div>
<div class="row">
  <div class="col-md-6">
    <h4>{{studentInfo.gender}}</h4>
  </div>
</div>
{% endblock content %}
